
/* Style Sheet for Baruch Mustakis site. */

/* Author: Baruch Mustakis a.k.a ShoobyD.
    Revised: 1/04/09
    (in d/mm/yy format) */


/* base */

* {margin: 0; padding: 0;}
abbr, acronym, img {border: 0;}
ol, ul, li {list-style: none;}
h1, h2, h3, h4, h5, h6, th, td {font-size: 100%; font-weight: normal;}

html {}
body {background: #224488;}

#container {
	background: #ffffff url(../images/border_right.gif) right repeat-y;
	font-family: arial, sans-serif;
	position: relative;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 56%;
	min-width: 800px;
	min-height: 946px;
	border-left: 1px solid #000000;
}
a:link, a:visited {text-decoration: none; color: navy;}
a:hover, a:active {text-decoration: underline; color: #8da1fb;}
.fresh {color: #239211; font-weight: bold;}
.fresh:hover {color: #98f089;}
a:hover .fresh {color: #98f089;}

/********************header********************/
#pageHeader {
	height: 178px;
	margin-right: 10px;
	padding: 10px 10px 0 0;
	background: url(../images/header_border.gif) bottom repeat-x;
}
#pageHeader h1 {background: url(../images/logo_on.gif) no-repeat bottom right;}
#pageHeader h1:hover {background: url(../images/logo_off.gif) no-repeat bottom right;}



/********************menu********************/
#linkList {
	float: right;
	padding: 21px 21px 0 0;
	width: 24%;
	border-left: 1px solid #a5accb;
}
#linkList ul {font-size: 0.7em;}
#linkList li {
	font-size: 1.3em;
	line-height: 2.1em;
	padding: 5px 36px 0 8px;
	list-style-type: none;
	background: url(../images/bullet1.gif) no-repeat top right;
}
#linkList li .locus {font-weight:bold;}
#linkList h3 {height: 38px; padding-top: 46px;}
/*#linkList h3 span {display: none;}*/
#lsections h3 {background: url(../images/sections.gif) no-repeat bottom right;}
#lsections h3:hover {background: url(../images/sections_hl.gif) no-repeat bottom right;}
#larchives h3 {background: url(../images/archive.gif) no-repeat bottom right;}
#larchives h3:hover {background: url(../images/archive_hl.gif) no-repeat bottom right;}
#lresources h3 {background: url(../images/links.gif) no-repeat bottom right;}
#lresources h3:hover {background: url(../images/links_hl.gif) no-repeat bottom right;}



/********************main********************/
#main {
	float: right;
	width: 64%;
	padding: 33px;
	min-height: 600px;
}
#main h3 {
	font-size: 1.3em;
	font-weight: bold;
}
#issueDetails {
	float: left;
	width: 204px;
	height: 300px;
	margin: 0 23px 12px 0;
	padding: 48px;
	line-height: 2.1em;
	background: url(../images/paper.png) no-repeat;
}
#content {
	display: inline;
	line-height: 1.4em;
	min-height: 660px;
	width: 100%;
}
#content h2 {
	font-weight: bold;
	text-decoration: underline;
}
#content  p {text-align: justify;}

.passage {margin: 50px 0;}



/********************footer********************/
#footer {clear: both;}
#footer-content {
	padding-top: 32px;
	text-align: center;
	font-size: 0.7em;
	font-weight: bold;
}
hr {
	margin: 0 auto;
	width: 52%;
	height: 2px;
	border: 0;
	background: url(../images/hr.gif) bottom repeat-x;
}



/* end */

